In [1]:
import pandas as pd

In [ ]:
pd.DataFrame.agg?

In [4]:
df = pd.read_csv('datasets/so_survey_subset.csv')

In [5]:
df.head()

,Respondent,MainBranch,Hobbyist,Country,YearsCode,ConvertedComp,LanguageWorkedWith,SocialMedia,Age,Gender
0,1,I am a student who is learning to code,Yes,United Kingdom,4,NaN,HTML/CSS;Java;JavaScript;Python,Twitter,14.0,Man
1,2,I am a student who is learning to code,No,Bosnia and Herzegovina,NaN,NaN,C++;HTML/CSS;Python,Instagram,19.0,Man
2,3,"I am not primarily a developer, but I write co...",Yes,Thailand,3,8820.0,HTML/CSS,Reddit,28.0,Man
3,4,I am a developer by profession,No,United States,3,61000.0,C;C++;C#;Python;SQL,Reddit,22.0,Man
4,5,I am a developer by profession,Yes,Ukraine,16,NaN,C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA,Facebook,30.0,Man

In [90]:
df.groupby('Country')['SocialMedia'].value_counts()

Country      SocialMedia
Afghanistan  Facebook                    15
             YouTube                      9
             I don't use social media     6
             WhatsApp                     4
             Instagram                    1
                                         ..
Zimbabwe     Facebook                     3
             YouTube                      3
             Instagram                    2
             LinkedIn                     2
             Reddit                       1
Name: SocialMedia, Length: 1220, dtype: int64

In [149]:
topSocialMedia = df.groupby('Country').apply(lambda grp: grp['SocialMedia'].value_counts().index[0]).head()
topSocialMedia.name = 'Top Social Platforms used by Country'
topSocialMedia

Country
Afghanistan                    Facebook
Albania                        WhatsApp
Algeria                         YouTube
Andorra        I don't use social media
Angola                          Twitter
Name: Top Social Platforms used by Country, dtype: object

In [148]:
knowsPython = df.groupby('Country')['LanguageWorkedWith'].apply(lambda s: s.str.contains('Python').sum() / s.size * 100)
knowsPython.name = 'Knows Python'
knowsPython

Country
Afghanistan                             18.181818
Albania                                 26.744186
Algeria                                 29.850746
Andorra                                  0.000000
Angola                                  40.000000
                                          ...
Venezuela, Bolivarian Republic of...    31.818182
Viet Nam                                33.766234
Yemen                                   15.789474
Zambia                                  33.333333
Zimbabwe                                35.897436
Name: Knows Python, Length: 179, dtype: float64